
<div class="student-new">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <div class="new-student-form">
      <div class="student-new-title text-center">
        <h2>Edit student</h2>
        <%= image_tag "student-hat.svg", class: "add-students" %>
      </div>


      <div class="new-student-form-imput text-center">
        <%= simple_form_for @student do |form| %>
          <%= form.input :name %>
          <%= form.input :birth_date, as: :string, required: false, input_html: {class: "datepicker"}%>
          <%= form.input :category %>
          <%= form.input :description%>
          <%= form.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
