<h1>Students#edit</h1>
<p>Find me in app/views/students/edit.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= simple_form_for(@student) do |form| %>
        <%= form.input :name %>
        <%= form.input :birth_date %>
        <%= form.input :category %>
        <%= form.input :description%>
        <%= form.button :submit %>
      <% end %>
    </div>
  </div>
</div>
