<div class="student-show">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="information-box">
      <div class="cover">
        <div class="show-information">
          <% if @student.photo.blank?%>
            <%= image_tag "student_hat.svg"%>
          <% else %>
            <%= cl_image_tag @student.photo, crop: :fill, width: "120" %>
          <% end %>
        </div>
      </div>

      <div class="main-student-page">
        <h1><%= @student.name %></h1>
        <h6><%= @student.birth_date.strftime("%B %e %Y") %></h6>
        <h6><%= @student.category %></h6>

        <div class = "student-lessons" >
          <h3><%= @student.name.split(" ").first %>'s lessons</h3>
            <div class = "student-lessons-list">
              <% student_lessons = @student.lessons.all.sort %>
              <% student_lessons.each do |l| %>
                <div class="student-lesson-card">
                  <%= link_to lesson_path(l) do %>
                    <div class = "student-lesson-card-information">
                      <div class="lesson-card-day">
                        <strong>
                          <%= l.start_time.strftime("%b %d") %>
                        </strong>
                      </div>
                      <div class="lesson-card-time">
                        <%= l.start_time.strftime("%H:%M") %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
        </div>

        </div>

        <div class="student-memo">
          <h3>Memo from teachers</h3>
          <div class="student-memo-list">
            <% if @student.memos.empty? %>
              <p>No memo available yet</p>
            <% else %>
              <% @student.memos.each do |memo| %>


                <div class="student-memo-card">
                  <p class="text-center level-<%= memo.enrollment.lesson.course.level.downcase%>" style="color: white"><strong>
                      <%= memo.enrollment.lesson.course.language %> - <%= memo.enrollment.lesson.course.level %>
                    </strong></p>
                  <div class="memo-card-content">
                    <div class="memo-item-picture">
                      <%= link_to user_path(memo.enrollment.lesson.user) do %>
                        <%= cl_image_tag memo.enrollment.lesson.user.photo, crop: :fill, class: "memo-teacher-pic"%>
                      <% end %>
                    </div>

                   <!--  <div class="student-memo-details text-center level-<%= memo.enrollment.lesson.course.level.downcase%>"> -->
                    <div class="student-memo-details text-center>">
                      <p><%= memo.comment %></p>
                    </div>

                    <div class="memo-item-date">
                      <%= memo.created_at.strftime("%b %d, %Y") %>
                    </div>
                  </div>

                </div>


              <% end %>
            <% end %>
          </div>
        </div>

          <ul class= "text-center">
          <% if current_user.role == "manager" %>
            <li class="change-photo">
              <%= simple_form_for @student, html: {class: "users-show-alignment"} do |f| %>
                <%= f.error_notification %>
                <div style="text-align: center">
                  <%= f.input :photo, label: 'Profile picture'%>
                  <%= f.input :photo_cache, as: :hidden%>
                </div>
                <%= f.button :submit, "save", class: 'btn btn-warning save-button margin-alignment'  %>
              <% end %>
            </li>
            <li class="margin-alignment">
              <%= link_to "delete the student account", cancel_user_registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %>
            </li>
          <% end %>
          </ul>
        </div>
        <div class="social">
      </div>
    </div>
  </div>
</div>




