<div class="student-show">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-sm-offset-3">
    <div class="information-box">
      <div class="show-title text-center">
        <h3><%= @student.name %></h3>
      </div>
      <div class="show-information text-center">
        <ul>
          <li><%= @student.name %></li>
          <li><%= @student.category %></li>
          <li><%= @student.birth_date.strftime("%B %e %Y") %></li>
          <li><%= @student.description %></li>
        </ul>
      </div>
      <ul class="edit-information">
        <li>
          <%= link_to edit_student_path(@student) do%>
            <%= image_tag "pen.svg", class: "small-icon" %>
          <% end %>
        </li>
        <li>
          <%= link_to student_path(@student), method: :delete, data: { confirm: "Are you sure?" } do %>
            <%= image_tag "trash.svg", class: "small-icon" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>



