<div class="navbar-wagon <%= yield(:navbar_class) %> navbar-fixed-top" id="navbar">
  <!-- Logo -->
  <% if user_signed_in? %>
    <%= link_to lessons_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "newlogo.png" %>
    <% end %>
    <div class="navbar-title test-center">
      <p>scheduleMe<p>
    </div>
    <!-- nozomi was gonna make a title -->
  <% else %>
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "newlogo.png" %>
    <% end %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>
      <!-- Links when logged in -->
      <div class="navbar-bottons navbar-wagon-item">
        <ul class="list-inline">
          <% if current_user.role == "manager"%>
            <li>
              <%= link_to new_lesson_path do %>
                <%= image_tag "teaching.svg", class: " avatar" %>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to users_path do %>
              <%= image_tag "id_card.svg", class: " avatar" %>
            <% end %>
          </li>
          <li>
            <%= link_to students_path do %>
              <%= image_tag "student_hat.svg", class: " avatar" %>
            <% end %>
          </li>
        </ul>
      </div>
      <!-- Avatar with dropdown menu -->
      <div class="dropdown">

        <% if current_user.photo.blank? %>
          <%= image_tag "user.svg", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% else %>
          <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% end %>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to user_path(current_user) do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <div class="form-inputs form-signin navbar-form">
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
          <%= f.text_field :email,
            class: "form-control",
            placeholder: "email"%>
          <%= f.password_field :password,
            class: "form-control",
            placeholder: "password"%>
          <%= f.submit 'Login', class: 'btn btn-primary'%>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <% if user_signed_in? %>
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to user_path(current_user) do %>
              <i class="fas fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to users_path do %>
              <i class="fas fa-id-card-alt"></i> <%= t(".teachers", default: "Teachers") %>
            <% end %>
          </li>
          <li>
            <%= link_to students_path do%>
              <i class="fas fa-graduation-cap"></i>  <%= t(".students", default: "Students") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>


