<div class="calendar-heading-week">
    <div class="calendar-heading-content">
      <%= link_to calendar.url_for_previous_view do %>
        <i class="fas fa-caret-left fa-2x susumu-icon"></i>
      <% end %>
      <% if calendar.number_of_weeks == 1 %>
        <span class="calendar-title">Week <%= calendar.week_number %></span>
      <%else%>
          <span class="calendar-title">Week <%= calendar.week_number %> - <%= calendar.end_week %></span>
      <%end%>
      <%= link_to  calendar.url_for_next_view do %>
        <i class="fas fa-caret-right fa-2x susumu-icon"></i>
      <% end %>
      <div>
        <ul class="level-list list-inline">
          <li class="level-novice level-list-box">
            novice
          </li>
          <li class="level-conversational level-list-box">
            conversational
          </li>
          <li class="level-business level-list-box">
            business
          </li>
          <li class="level-advanced level-list-box">
            advanced
          </li>
        </ul>

      </div>




      </div>
    </div>
  </div>
</div>


  <div class="calender-body simple-calendar">
    <div class="calender-body-week">
      <table class="table table-striped table-margin">
        <thead>
          <tr>
            <% date_range.slice(0, 7).each do |day| %>
              <th><%= t('date.abbr_day_names')[day.wday] %></th>
            <% end %>
          </tr>
        </thead>

        <tbody>

          <% date_range.each_slice(7) do |week| %>
            <tr>
              <% week.each do |day| %>
                <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                  <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                    <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
                  <% else %>
                    <% block.call day, sorted_events.fetch(day, []) %>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
