<div class="user-show">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-sm-offset-3">
    <div class="information-box">

      <div class="cover">
        <div class="show-information">
          <% if current_user.photo.blank?%>
            <%= image_tag "user.svg"%>
          <% else %>
            <%= cl_image_tag current_user.photo, crop: :fill, width: "120" %>
          <% end %>
        </div>
      </div>
      <div class="main username-mobile">
        <h1><%= @user.first_name %>  <%= @user.last_name %></h1>
      </div>

<div class="teachers-calender">
  <%= calendar number_of_days:1, events: @lessons do |date, lessons| %>
    <table>
      <% vacant_cell = true %>
      <% (10..20).each do |h|%>
        <% lessons.each do |lesson| %>
          <% if h==lesson.start_time.strftime('%H').to_i %>
            <% vacant_cell = false %>
            <tr>
              <td>
                <div class = "lesson-hour">
                  <%= h %>
                </div>
              </td>
              <td>
              <%= link_to lesson_path(lesson) do %>
                <div class = "lesson-card mobile-view level-<%= lesson.course.level.downcase %>">
                  <div class="lesson-room">
                    Room: <%= lesson.room.name %>
                  </div>
                  <div class="lesson-level">
                    <%= lesson.course.level %>
                  </div>
                  <div class="number-of-student">
                    <% if lesson.students.count >= 4 %>
                      <%= image_tag "student_hat.svg" , class: "small-icon", style: "border-radius: 50%"%> x <%= lesson.students.count
                       %>
                      <% else %>
                      <% lesson.students.each do |student| %>
                        <%= cl_image_tag student.photo.url, class: "small-icon", style: "border-radius: 50%"%>
                      <% end %>
                    <% end %>

                  </div>
                </div>
              <% end %>
            </td></tr>
          <% end %>
        <% end %>


      <% if vacant_cell %>
        <tr>
          <td><div class = "lesson-hour"><%= h %></div></td>
          <td>
              <div class = "lesson-card-vacant">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</div>
            <% end %>
          </td>
        </tr>
        <% vacant_cell = true %>
      <% end %>
    </table>
  <% end %>
</div>

    </div>
  </div>
</div>
