<h3>Lessons</h3>

<p>
  Welcome, <%=@user.first_name%>!
<% if @user.role == "manager"%>
These are the lessons you manage.
<% else %>
These are your lessons.
<% end %>
</p>


<%= calendar number_of_days: 1, events: @lessons do |date, lessons| %>
  <span class="date-str"><%= date %></span>

<div class = "room">
<% @rooms.each do |room| %>
<table>
  <tr><th>room <%= room.name %></th></tr>
    <% lessons.each do |lesson| %>
      <% if room.id == lesson.room.id %>
  <tr><td>
      <div class = "lesson-card">
        <%= lesson.start_time.strftime('%H') %> <%= lesson.start_time.strftime('%M') %>
        <%= lesson.course.language %>
        <%= lesson.course.level %>
        <%= link_to "details", lesson_path(lesson) %>
      </div>
  </td></tr>
  <% end %>
  <% end %>
</table>
<% end %>
</div>
<% end %>

<%= link_to "Create New Lesson", new_lesson_path %>

