  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="information-box">
      <div class="show-title text-center">
        <h2>
          <%= @lesson.start_time.strftime("%A %B %e %Y ") %>
        </h2>
        <div class="lesson-info">
          <div class="lesson-details">
            <%= image_tag "time.svg"%><span style="padding-right: 15px;"><%= @lesson.start_time.strftime("%l:%M %p") %></span>
          </div>
          <div class="lesson-details">
            <%= image_tag "sand-clock.svg" %><span><%= @lesson.course.duration %>mins</span>
          </div>

        </div>
      </div>

      <div class="teacher-information text-center">
        <div class="user-photo">
          <%= link_to user_path(@lesson.user) do%>
            <% if @lesson.user.photo.blank?%>
              <%= image_tag "user.svg", class: "user-photo-information" %>
            <% else %>
              <%= cl_image_tag @lesson.user.photo, crop: :fill, class: "teacher-photo-information"%>
            <% end %>
          <% end %>
        </div>
        <div class="teacher-name text-center">
          <h3>
            <%= @lesson.user.first_name %>  <%= @lesson.user.last_name %>
          </h3>
        </div>
      </div>

      <div class="lesson-level text-center level-<%= @lesson.course.level.downcase %>">
        <p style="padding: 2px 0;">
          <%= @lesson.course.level %> - <%= @lesson.course.language %>
        </p>
      </div>
      <div class="students">
        <h4><%= @lesson.user.first_name %>'s students</h4>
        <% @lesson.enrollments.each do |enrollment| %>
          <div class="student">
            <div class="student-photo">
              <%= link_to student_path(enrollment.student) do %>
              <%= cl_image_tag enrollment.student.photo, class: "user-photo-information" %>
              <% end %>
            </div>
            <div class="student-comment">
            <div class="student-name">
              <strong><p><%= enrollment.student.name %></p></strong>
            </div>
              <% if enrollment.memos.count.zero? %>
                <%= simple_form_for [enrollment, @memo], html: {class: "form-structure"} do |f| %>
                  <div class="input-target">
                    <%= f.input :comment, placeholder: "Leave a memo for this class", label: false %>
                  </div>
                  <div class="svg-background">
                  <%= f.button :button do%>
                    <%= image_tag "share-option.svg", class: "small-icon write-memo-icon " %>
                  <% end %>
                </div>
                <% end %>
              <% else %>
                <% enrollment.memos.each do |memo| %>
                  <%= memo.comment %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="bottom">
          <ul class="list-inline icon-line">
            <li>
              <%= link_to edit_lesson_path(@lesson) do %>
            <!-- nozomi didn't get to design nice, please someone do -->
              <% end %>
            </li>
            <li>
                <%= link_to lesson_path(@lesson), method: :delete, data: { confirm: "Are you sure you want to DELETE the lesson?" } do %>
                  <%= image_tag "trash.svg", class: "small-icon small-icon-effect form-trash", alt: "Delete this lesson" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
