


<div class="container">
  <div class="row">
    <div class="col-sm-4 col-xs-offset-4">
       <h1>Lesson details</h1>
       <ul>
         <li>Teacher: <%= @lesson.user.first_name %> <%= @lesson.user.last_name %> </li>
         <li><%= link_to "Teacher profile", user_path(@lesson.user) %></li>
         <li>Time: <%= @lesson.start_time %></li>
         <li>Language: <%= @lesson.course.language %></li>
         <li>Level: <%= @lesson.course.level %></li>
         <li>Duration: <%= @lesson.course.duration %></li>
         <br>
         <% @lesson.enrollments.each do |enrollment| %>
           <li><%= enrollment.student.name %> <%= link_to "student profile", student_path(enrollment.student) %>
              <%# @lesson.enrollments.each do |enrollment| %>
                <!-- <li><%#= enrollment.memo.comment %></li> -->
              <%# end %>
            </li>
         <% end %>





         <%= link_to lessons_path do %>
         <i class="fas fa-calendar-alt fa-lg" style="padding: 10px;"></i>
         <% end %>

         <%= link_to edit_lesson_path(@lesson) do %>
         <i class="fas fa-edit fa-lg" style="padding: 10px;"></i>
         <% end %>

         <%= link_to lesson_path(@lesson), method: :delete, data: { confirm: "Are you sure you want to DELETE the lesson?" } do %>
         <i class="fa fa-trash fa-lg" style="padding: 10px;"></i>
         <% end %>
       </ul>
     </div>
  </div>
