


<div class="lesson-show">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-sm-offset-3">
    <div class="information-box">
      <div class="show-title text-center">
        <h3>
          <%= @lesson.start_time.strftime("%l:%M %p") %>
          <%= @lesson.start_time.strftime("%A %B %e %Y ") %>
        </h3>
        <p>
          <%= image_tag "time.svg", class: "small-icon" %><%= @lesson.course.duration %>mins
        </p>
        <h5>
          <%= @lesson.course.level %> - <%= @lesson.course.language %>
        </h5>
      </div>
      <div class="show-information">
        <div class="teacher-information text-center">
          <div class="user-photo">
            <%= link_to user_path(@lesson.user) do%>
              <% if @lesson.user.photo.blank?%>
                <%= image_tag "user.svg", class: "user-photo-information" %>
              <% else %>
                <%= cl_image_tag @lesson.user.photo, crop: :fill, class: "user-photo-information"%>
              <% end %>
            <% end %>
            <h3>
              <%= @lesson.user.first_name %>  <%= @lesson.user.last_name %>
            </h3>
          </div>
        </div>
        <div class="student">
          <ul>
            <% @lesson.enrollments.each do |enrollment| %>
               <li>
                 <h4>
                   <%= link_to student_path(enrollment.student) do %>
                    <%= cl_image_tag enrollment.student.photo %>
                   <% end %>
                 </h4>
                 <p>
                   <% enrollment.memos.each do |memo| %>
                     <%= memo.comment %>
                   <% end %>
                 </p>
                 <%= simple_form_for [enrollment, @memo] do |f| %>
                   <%= f.input :comment %>
                   <%= f.submit "add a review", class: "btn btn-primary" %>
                 <% end %>
               </li>
            <% end %>
          </ul>
         </div>

      </div>
        <ul class="list-inline">
          <li>
            <%= link_to edit_lesson_path(@lesson) do %>
              <%= image_tag "pen.svg", class: "small-icon" %>
            <% end %>
          </li>
          <li>
            <%= link_to lesson_path(@lesson), method: :delete, data: { confirm: "Are you sure you want to DELETE the lesson?" } do %>
              <%= image_tag "trash.svg", class: "small-icon" %>
            <% end %>
          </li>
        </ul>
     </div>
  </div>
